/*
 * Estilos de tu proyecto
 */


body {
	margin: 0 auto;
	width: 100%;
	height: auto;
	font-family: 'Montserrat', sans-serif;
}

/*menu*/
nav{
	width: 100%;
	height: 110px;
	color: #FFF;
	position: fixed;
	background-color: rgba(46, 18, 68, 0.6);
}

/*logotipo*/
nav img{
	width: 63px;
	margin-left: 80px;
	padding-top: 30px;
	float: left;
}

/*botones*/
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 760px;
	padding-top: 25px;
	padding-bottom: 20px;
	line-height: 40px;
	font-size: 1.2em;
	font-weight: 300;
}

li{
	height: 40px;
	width: 80px;
	margin: 0;
	margin-left: 20px;
	display: inline-block;
	text-align: center;
}

li:last-child{
	border: 1px solid #FFF;
	border-radius: 5px;
	padding: 
}

a{
	display: block;
	width: 70px;
	text-decoration: none;
	color: #fff;
}

a:hover{
	color: #ff00bf;
}

/*Seccion home*/

.home{
	background-image:url(../assets/images/hero.gif);
	background-size: cover;
	background-position: 0 -110px ;
	height: 600px;
}

/*Formulario sign up*/

.sign-up{
	text-align: left;
	background-color: #FFF;
	width: 440px;
	height: 300px;
	float: left;
	margin-top: 110px;
	margin-left: 790px;
	padding: 60px 61px 60px 60px;
}

.sign-up h1{
	text-transform: uppercase;
	font-size: 2.65em;
	line-height: 1.1em;
	color: #490085;
	margin-top: 0;
	font-weight: 600;
	letter-spacing: 0.7px;
	margin-bottom: 0;
}

.sign-up #a1{
	text-transform: uppercase;
	color: #490085;
	font-weight: 300;
	font-size: 0.91em;
	letter-spacing: 2.2px;
}

/*input numero telefono*/
input{
	width: 450px;
	border: none;
	border-bottom: 1px solid #490085;
	font-size: 1.1em;
	margin-top: 10px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

input:focus{
	outline:0;
}

/*boton formulario*/
#button button{
	float: left;
	margin-top: 15px;
	font-family: 'Montserrat',sans-serif;
	background-color: #ff00bf;
	color: #FFF;
	border:0;
	font-weight: 400;
	font-size: 1em;
	padding: 12px 19px 14px 19px;
	border-radius: 5px;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

#button a{
	float: left;
	width: 160px;
	font-weight: 300;
	color: #728099;	
	text-decoration: underline;
	margin-top: 27px;
	margin-left: 20px;
}

.small-text{
	display: inline-block;
	line-height: 1.4em;
	
}

.small-text #a2, .small-text a{
	font-size: 0.6em;
	color: #ABAFC2;
}


/*Inicio de la seccion 2*/

.seccion2{
    background: linear-gradient(#6c3b84,#2b1e66);
	width: 100%;
	height: 600px;
}
/*texto de la seccion 2*/
.text{
	float: left; 
	color: #FFF;
	width: 450px;
	margin-left: 160px;
}

.text h2{
	font-size: 1.8em;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 0;
	margin-top:60px;
}

.text h3{
	font-size: 1.8em;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 0;
}

.text p{
	font-size: ;
	font-weight: 300;
	line-height: 1.5em;
}

/*imagen celular*/
.seccion2 img{
	width: 500px;
	margin-top: 30px;
	margin-left: 60px;
}

/* Videos*/
/*primer video*/
#a-d{
	float:left;
	width: 330px;
	margin-top: 10px;
	margin-left: 50px;
}

#video1{
	float: left;
	margin-left: 116px;
	margin-bottom: -4px;
}

#a-d h5, #a-d h2{
	text-transform: uppercase;
	font-weight: 500;
}

/*segundo video*/

#b-d{
	float:left;
	width: 330px;
	margin-top: 10px;
	margin-left: 50px;
}

#video2{
	float: left;
	margin-bottom: -4px;
	
}

#b-d h5, #b-d h2{
	text-transform: uppercase;
	font-weight: 500;
}

/*tercer video*/

#c-d{
	float:left;
	width: 330px;
	margin-top: 510px;
	margin-left: -1180px;
}

#video3{
	float: left;
	margin-left: 110px;
	margin-bottom: -4px;
}

#c-d h5, #c-d h2{
	text-transform: uppercase;
	font-weight: 500;
}

/*pie de página*/

footer{
	float: left;
	width: 100%;
	height: 500px;
	background-color: #333447;
	color:#FFF;
}

/*columnas del footer*/
.first-column, .second-column, .third-column, .fourth-column{
	float: left;
	width: 150px;
	margin-top: 50px;
	margin-left: 120px;
	line-height: 1.7em;
}

.first-column{
	margin-left: 150px;
}

/*imagenes app*/
.fourth-column img{
	margin-top: 30px;
	width: 130px;
}

footer h4{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.4em;
}

footer p{
	font-weight: 400;
	font-size: 1em;
}

/*iconos*/
.icons{
	float: left;
	width: 800px;
	height: 50px;
	margin-left: 290px;
	margin-top: 50px;
	text-align: center;
	font-size: 15px;
}

footer span{
	text-align: center;
	float: left;
	margin-left: 570px;
	margin-right: 40px;
	padding:5px;

}

span:first-child{
	margin-left: 280px;
}

.icon-facebook, .icon-instagram, .icon-twitter{
	margin-right: 30px;
	margin-left: 30px;
	padding-bottom: -10px; 
	border: 1px solid #FFF;
	height: 30px;
  	width: 30px;
  	display: table-cell;
  	text-align: center;
  	border-radius: 50%;
}
/*linea debajo de los iconos*/
footer hr{
	margin-top: 70px;
	border: 0;
	border-bottom: 1px solid #FFF;
}
/*hover elementos del footer*/
footer p:hover{
	cursor: pointer;
	color: #A008AB;
	text-decoration: underline;
}

footer h4:hover{
	color:#FFF;
	cursor: pointer;
	text-decoration: underline;
}

footer img:hover{
	cursor: pointer;
}